API_GATEWAY_PORT=
PRODUCT_SERVICE_PORT=
ORDER_SERVICE_PORT=
AUTH_SERVICE_PORT=


NODE_ENV=developer
SERVICE_NAME_PRODUCT=
SERVICE_NAME_AUTH=
SERVICE_NAME_API=
SERVICE_NAME_ORDER=



JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=
MONGO_URI=
